@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to MyMedsManager</h1>
        <p>A digital tool for managing and tracking your personal medications.</p>
        <p>
            <span style="font-size: 6em; color: black;">
                <i class="fa fa-user-circle-o fa-fw"></i>
            </span>
        </p>
        <p>
            <span style="font-size: 4em; color: dimgrey;">
                <i class="fa fa-road fa-fw"></i>
            </span>
            <span style="font-size: 4em; color: thistle;">
                <i class="fa fa-rocket fa-fw"></i>
            </span>
            <span style="        font-size: 4em;
        color: goldenrod;">
                <i class="fa fa-sun-o fa-fw"></i>
            </span>
            <span style="font-size: 4em; color: firebrick;">
                <i class="fa fa-industry fa-fw"></i>
            </span>
        </p>




    </div>
